*{
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}
.body{
    background: #33333385;
}
.body.active {
    background: white;
}
.container{
    width: 6rem;
    height: 3rem;
    background: #333;
    border-radius: 9999px;
    display: relative;
}
.toggle{
    width: 0.5rem;
    height: 5px;
    background: white;
    border-radius: 17rem;
    position: absolute;
    align-items: center;
    margin: 7px auto;
    transition: transform 1s;
    cursor: pointer;
    top: 5rem;
}
.container.active .toggle{
    transform: translate(100%);
    transition: 1s;
    background: blue;
}